$bgImage: url('http://preview.ryetheme.com/troma-preview/images/banner/2.jpg');

$headerColor: rgb(221, 172, 231);
$logoSize: 1.9em;
$buttonMargin: 10px;
$uppercase: uppercase;
$displayFlex: flex;
$justifyCenter: center;
$justifyStart: flex-start;
$imageCover: cover;
$noRepeat: no-repeat;
$backgroundPosition: center center;
$posFixed: fixed;
$style100: 100%;
$height100vh: 100vh;
$sixtyPX: 60px;
$margin40px: 40px;
$margin220px: 300px;
$buttonsBodyMargin: 25px 15px 0 0;
$hidden: hidden;
$zero: 0;


